<main>
  <div>
    <h1>FORMULARIO EN HBS</h1>
  </div>
  <form action="/api/productos" method="POST">
    <label for="title">Nombre: </label>
    <input type="text" name="name" placeholder="Nombre del producto" />
    <br />
    <label for="title">Precio: </label>
    <input type="number" name="price" placeholder="Precio" />
    <br />
    <label for="title">Origen: </label>
    <input type="text" name="name" placeholder="Origen del producto" />
    <br />
    <label for="title">Imagen: </label>
    <input type="file" name="Imagen" placeholder="Imagen" />
    <br />
    <button>ENVIAR</button>
    <br />
  </form>
</main>