<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles.css" />
    <title>Primera entrega del Final</title>
  </head>
  <body>
    <div>
      <form class="form" id="products-form">
        <h2 class="form-title">AÑADIR PRODUCTOS</h2>
        <div class="form-container">
          <div class="form-group">
            <input
              type="text"
              name="title"
              id="title"
              class="form-input"
              placeholder=" "
              required
            />
            <label for="title" class="form-label">Nombre:</label>
            <span class="form-line"></span>
          </div>
          <div class="form-group">
            <input
              type="number"
              name="price"
              id="price"
              class="form-input"
              placeholder=" "
              required
            />
            <label for="price" class="form-label">Precio:</label>
            <span class="form-line"></span>
          </div>
          <div class="form-group">
            <input
              type="text"
              name="thumbnail"
              id="thumbnail"
              class="form-input"
              placeholder=" "
              required
            />
            <label for="thumbnail" class="form-label">Thumbnail:</label>
            <span class="form-line"></span>
          </div>

          <input type="submit" class="form-submit" value="Ingresar" />
        </div>
      </form>
      <div id="chat-container">
        <h1 class="products-title">OPINIONES</h1>
        <div id="chat-window">
          <div id="output"></div>
          <div id="actions"></div>
        </div>
        <input type="email" id="username" placeholder="Mail" required />
        <input type="text" id="message" placeholder="Mensaje" required />
        <button id="send">Enviar</button>
      </div>
    </div>
    <h1 class="products-title">FUNKOS</h1>
    <section class="section-products">
      <div id="output-products"></div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="formproducts.js"></script>
    <script src="chat.js"></script>
  </body>
</html>
